.Heading {
  margin: 0;
}

.Heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Heading-subheading {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}








