.Section:not(.Section .Section) {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

@media (min-width: 768px) {
  .Section:not(.Section .Section) {
    padding-inline-start: 24px;
    padding-inline-end: 24px;
  }
}

.Section-fullBleed {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  position: relative;
}

.Section-backgroundLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.Section-inner {
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 100%;
  width: 100%;
}

.Section-fullBleed .Section-inner {
  position: relative;
  z-index: 1;
}

.Section .Section .Section-inner {
  margin-inline-start: 0;
  margin-inline-end: 0;
}