.Image-container {
  overflow: hidden;
}

.Image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Image-hover-zoom:hover .Image {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.Image-hover-opacity:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}








